.confirm{
    margin: 3rem auto;
   
    margin-top: 180px;
    
    max-width: 40rem;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    display: block;
}
.proceed{
    border: 2px solid black;
    border-radius: 5px;
    width: 130px;
}