.profile{
   
justify-content: center;
text-align: center;
}
hr{

    width: 100%;
}
.incomplete{
    margin-left: 10rem;
    border: 1px solid rgb(240, 233, 233);
    background-color: rgb(244, 212, 213);
    border-radius: 10px;
    height: 30px;
    width:fit-content;
    padding: 4px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.welcome{
    margin-left: 32rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}