.resetPassword{
    margin: 2rem auto;
   
    margin-top: 130px;
    
    max-width: 30rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    
    display: block;
}
.resetPassword .input{
    display: block;
    height: 40px;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    padding: 0 5px;
    border-radius: 0%;
    
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}
p,label{
    font-size: 20px;
    font-weight: 400;
}
.reset{
    width: 200px;
    height:50px;
    margin-right: 80rem;
    border: 2px solid wheat;
    border-radius: 5px;
    padding: 5px;
}