
hr{

    width: 100%;
}
.input{
   
    display: block;
    height: 40px;
    width: 90%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: blue;
}
.percent{
    font-weight:bold;
}
.details{
   margin-left: 500px;
   
}


span{
    margin: 5px;
}
.btn{
    border: 2px solid wheat;
    border-radius: 5px;
    background-color: rgb(176, 86, 40);
    
    width: 80px;
    margin-right: 80rem;
}
.cancel{
   
    border-radius: 5px;
    margin-left: 250px;
   background-color: white;
 
   width: 80px;
   
}
.logout{
    border: 2px solid rgb(21, 21, 21);
    border-radius: 5px;
  margin-left: 50rem;
   
   background-color:  #eb7676;
   color: white;
   width: 100px;
}
.contact{
    display: inline-flex;

}
h1{
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.new-expense__controls {
 display: inline-flex;
    flex-wrap: wrap;

    width: 80rem;
    text-align: left;
 
    margin-left: 90px;
    border-radius: 12px;
    }
  
  
  .new-expense__control label {
    font-weight: bold;
    margin-left: 20px;
    display: inline;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
    margin-right: 10px;
  }
  
  .new-expense__actions {
    text-align: right;
  }
  .new-expense__control .data {
    background: #573b8a;
    
    border: 1px solid #40005d;
    
    color: rgb(253, 252, 252);
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
   margin-left: 30rem;
   margin-top: 40px;
  }
  .date{
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #8173ce;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .transaction{
    display: inline-flex;
    flex-wrap: wrap;
  margin-top: 5px;
    width: 80rem;
    text-align: center;
    background-color:rgb(228, 222, 245);
    padding: 1rem;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
    border-radius: 12px;
    
    
  }
   .transaction th{
    text-align: right;
   background-color:#4646a198;
    color: white;
  
   
  }
  .transaction table{
    background-color: #f2f2f7;
    
  }
  
  
  .transaction th,.transaction td{
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
  }
  
  .edit{
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 50px;
    color: white;
    
  }
  .delete{
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 20px;
  }
  .aedit{
    color: white;
  }
  .total{
    display:inline-flex;
    margin-left: 70rem;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 20px;
   
  
  }
 