.new-expense__controls {
    display: inline-flex;
       flex-wrap: wrap;
     margin-top: 5px;
       width: 80rem;
       text-align: left;
       padding: 1rem;
       margin-left: 90px;
      background-color: rgb(128, 128, 223);
       
      
       border-radius: 12px;
       
       box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
     }
     
     .new-expense__control label {
       font-weight: bold;
       margin-left: 20px;
       display: inline;
     }
     
     .new-expense__control input {
       font: inherit;
       padding: 0.5rem;
       border-radius: 6px;
       border: 1px solid #ccc;
       width: 10rem;
       max-width: 100%;
       margin-right: 10px;
     }
     
     .new-expense__actions {
       text-align: right;
     }
     